{% extends "index.jinja2" %}
{% block body %}
  <article class="entry" id="entry={{entry.id}}">
    {% if request.authenticated_userid %}
      <h3 class="entryTitle"><a href= "{{ request.route_url('edit', id=entry.id) }}">{{ entry.title }}</a></h3>
    {% else %}
      <h3>{{ entry.title }}</h3>
    {% endif %}
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}
    <div class="entry_body">
      {{ entry.text|safe }}
    </div>
  </article>
{% endblock %}
