{% extends "index.jinja2" %}
{% block body %}
  {% for entry in entries%}
  <article class="entry" id="entry={{entry.id}}">
    {% if request.authenticated_userid %}
      <h3><a id="entryTitle" href= "{{ request.route_url('editview', id=entry.id) }}">{{ entry.title }}</a></h3>
    {% else %}
      <h3>{{ entry.title }}</h3>
    {% endif %}
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}
    <div class="entry_body">
      {{ entry.text|safe }}
    </div>
    {% if request.authenticated_userid %}
      <a href= "{{ request.route_url('editview', id=entry.id) }}"></a>
    {% endif %}
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far.</em></p>
  </div>
  {% endfor %}
{% endblock %}
