{% extends "index.jinja2" %}
{% block body %}
  <article class="entry" id="entry{{entry.id}}">
    <div id="entryContent">
    {% if request.authenticated_userid %}
      <h3 class="entryTitle"><a id="editLink" href= "{{ request.route_url('edit', id=entry.id) }}">{{ entry.title }}</a></h3>
    {% else %}
      <h3>{{ entry.title }}</h3>
    {% endif %}
    <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}
    <div class="entry_body">
      {{ entry.text|safe }}
    </div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{entry.title}}" data-via="henrykhowes">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </article>
  <script>
   $('#editLink').on("click", function(event){
      event.preventDefault();
      open_edit();
    });
  </script>
{% endblock %}
